<div class="row">
  <div class="col">
    <h2>انظمة وتطبيقات المستقبل</h2>
    <div class="text">
      لسنا مجرد مقدمي خدمات، بل نؤمن بأننا شركاء حقيقيون في مسيرة نجاحك. ندرك أن
      النجاح يتجاوز حدود تنفيذ المشروع، فهو رحلة مستدامة نحو التميز. لذا، نوفر
      لك دعماً فنياً مميزاً ومجانياً لضمان تطور واستمرارية مشروعك. نحن هنا لنكون
      داعمين تقنيين مخلصين، نعمل معك لتحقيق أهدافك وتحويل أفكارك إلى إنجازات
      ملموسة في عالم التقنية.
    </div>

    <ul>
      <li>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-google"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </li>
    </ul>
  </div>

  <div class="col">
    <h2>روابط مفيدة</h2>
    <ul>
      <li><a href="#">الرئيسية</a></li>
      <li><a href="#">نبذة عنا</a></li>
      <li><a href="#">الخدمات</a></li>
      <li><a href="#">المقالات</a></li>
    </ul>
  </div>

  <div class="col">
    <h2>الدعم</h2>
    <ul>
      <li><a href="#">الاسئلة المتكررة</a></li>
      <li><a href="#">الشروط الاحكام</a></li>
      <li><a href="#">السياسة والخصوصية</a></li>
      <li><a href="#">تواصل معنا</a></li>
    </ul>
  </div>

  <div class="col">
    <h2>التواصل</h2>
    <ul>
      <li>
        <a href="#">
          <i class="fas fa-location-dot"></i>
          764 الفيصلية، جدة، المملكة العربية السعودية
        </a>
      </li>
      <li>
        <a href="#">
          <i class="far fa-envelope"></i>
          info@saaotf.com
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-phone-filp"></i>
          (+68)20056369
        </a>
      </li>
    </ul>

    <h2>الدعم عبر الإنترنت</h2>
    <form>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="البريد الالكتروني"
      />
      <button><i class="far fa-paper-plane"></i></button>
    </form>
  </div>
</div>

<div class="copyRight">
  <ul>
    <li><a href="#">سياسة الخصوصية</a></li>
    <li><a href="#">السروط والاحكام</a></li>
  </ul>
  <ul>
    <li><a href="#">جميع الحقوق محفوظة</a></li>
    <li><a href="#">© حقوق الطبع والنشر</a></li>
    <li><a href="#">Future Systems and applications</a></li>
  </ul>
  <ul>
    <li><span>الرقم الضريبي:</span> <span>811630500003</span></li>
    <li><span>السجل التجاري::</span> <span>4030324087</span></li>
  </ul>
  <ul>
    <li>تم بواسطة <a href="#">SAAOTF</a></li>
  </ul>
</div>
