@media (min-width: 1350px) {
    .previews-section.home {
        & .inner {

            &::before,
            &::after {
                background-size: contain;
            }
        }
    }
}

@media (max-width: 1180px) {
    .header {
        & .inner {
            & .logo {
                min-width: 90px;
            }

            & .userActions {
                & .link {
                    font-size: 12px;
                    padding: 5px 10px;
                }
            }
        }
    }

    .introduce-section {
        & .text {
            & p {
                padding: 20px;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 1080px) {
    .header {
        & .inner {
            & .logo {
                width: 90px;
            }

            & .userActions {
                & .search {
                    & .searchBar {
                        &.show {
                            width: 150px;
                        }
                    }
                }

                & .link {
                    font-size: 12px;
                    padding: 5px 10px;
                }
            }
        }
    }

    .contact-us-section {
        &::after {
            background-size: contain;
        }
    }

    .introduce-section {
        & .text {
            & h2 {
                margin-bottom: 30px;
            }

            & p {
                padding: 20px;
                font-size: 16px;
            }
        }
    }

    .slider-section {
        & .card-wrapper {
            &.circle-slider {
                margin: auto;

                & .swiper-wrapper {
                    & .slide {
                        width: 170px;
                        min-width: 170px;
                        height: 170px;
                        border-width: 7px;
                    }
                }
            }
        }
    }

    .footer {
        & .row {

            & .col:first-child,
            & .col:last-child {
                width: 250px;
            }

            & .col:nth-child(2),
            & .col:nth-child(3) {
                width: 170px;
            }
        }
    }
}

@media (min-width: 993px) {
    .home-section {
        & .inner-text {
            top: 150px;
        }
    }

    .introduce-section {
        margin-top: 50px;
    }
}

@media (max-width: 992px) {
    .header {
        & .inner {
            height: 70px;
            position: relative;
            justify-content: space-between;

            & .links {
                width: 50%;
                position: absolute;
                top: 70px;
                left: 50%;
                opacity: 0;
                transition: 0.2s;
                visibility: hidden;
                flex-direction: column;
                transform: translate(-50%, 20px);
                background-color: var(--main-color);

                & a,
                & span {
                    width: 90px;
                    display: block;
                    text-align: center;
                    justify-content: center;
                }

                &.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(-50%, 0);
                }

                & .parentLink,
                & .nestedParentLink {
                    & .nestedList {
                        & .nestedList {
                            right: -120px;
                        }

                        &.show {
                            right: -120px;
                        }
                    }
                }
            }

            & .userActions {
                & .menu {
                    cursor: pointer;
                    display: block;
                    font-size: 24px;
                    color: var(--light-color);
                }
            }
        }
    }

    .home-section {
        & .inner-text {
            width: 580px;

            & h2 {
                font-size: 24px;
            }

            & p {
                font-size: 16px;
            }
        }

        & .home-preview {
            & .card-wrapper {
                max-width: 500px;
                min-height: 450px;

                & .swiper-slide {
                    & .slide {
                        padding: 15px;
                        border-radius: 14px;
                    }

                    & .shadow {
                        &::before {
                            width: calc(100% - 50px);
                            bottom: -10px;
                            border-radius: 0 0 14px 14px;
                        }

                        &::after {
                            width: calc(100% - 100px);
                            bottom: -20px;
                            border-radius: 0 0 14px 14px;
                        }
                    }
                }
            }
        }
    }

    .introduce-section {
        & .text {
            & h2 {
                font-size: 24px;
                margin-bottom: 30px;
            }

            & p {
                font-size: 14px;
            }
        }
    }

    .common-questions-page {
        & .questions-section {
            & .questions {
                & ul {
                    & .head-question {
                        & h2 {
                            font-size: 14px;
                        }

                        & i {
                            width: 35px;
                            height: 35px;
                            font-size: 16px;
                        }
                    }

                    & li {
                        & ul {
                            font-size: 12px;
                            padding-inline-start: 50px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        & .row {
            display: grid;
            grid-template-columns: auto 250px;

            & .col {
                width: 100% !important;
            }

            & .col:nth-child(3) {
                order: 1;
            }
        }

        & .copyRight {
            & ul {
                font-size: 16px;

                &:first-of-type,
                &:nth-of-type(3) {
                    gap: 40px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        & .inner {
            & .links {
                width: 70%;
            }
        }
    }

    .home-section {
        & .inner-text {
            gap: 20px;
            width: 80%;
            top: 120px;

            & h2 {
                font-size: 18px;
            }

            & p {
                font-size: 14px;
            }

            & .action {
                & .link {
                    font-size: 16px;
                    padding: 5px 10px;
                }
            }
        }

        & .home-preview {
            & .card-wrapper {
                max-width: 350px;
                min-height: 300px;

                & .swiper-slide {
                    & .slide {
                        padding: 10px 10px 0;
                        border-radius: 7px;

                        & .image {
                            border-radius: 3px;
                        }
                    }

                    & .shadow {
                        &::before {
                            width: calc(100% - 50px);
                            bottom: -10px;
                            border-radius: 0 0 7px 7px;
                        }

                        &::after {
                            width: calc(100% - 100px);
                            bottom: -20px;
                            border-radius: 0 0 7px 7px;
                        }
                    }
                }
            }
        }
    }

    .about-us-section {
        & .inner-text {
            & h2 {
                font-size: 24px;
            }

            & p {
                font-size: 20px;
            }
        }
    }

    .counter-section {
        & .count {
            width: 180px;
            height: 190px;

            &::before,
            &::after {
                border: 7px solid var(--main-color-light);
                box-shadow: 0 0 30px inset var(--main-color-light), 0 0 30px var(--main-color-light);
            }

            & span {
                font-size: 24px;
            }

            & p {
                font-size: 20px;
            }
        }
    }

    .introduce-section {
        flex-direction: column-reverse;

        & .image {
            width: 70%;
            margin: auto;
        }

        & .text {
            & p {
                font-size: 20px;
            }
        }
    }

    .slider-section {
        & .card-wrapper {
            & .swiper-wrapper {
                & .slide {
                    & .text {
                        & p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        & .message-section {
            padding: 20px;
            font-size: 24px;
            border-radius: 14px;
        }

        &.client-reviews-section {
            & .card-wrapper {
                & .swiper-wrapper {
                    & .slide {
                        padding: 10px;

                        & .text {
                            & h2 {
                                font-size: 16px;
                            }

                            & p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

        }
    }

    .contact-us-page {
        & .contact-us-section {
            & .inner {
                width: 90%;
            }
        }
    }

    .faster-services-section {
        & .cards {
            gap: 20px;
            padding-inline: 30px;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

            & .card {
                padding: 20px;

                & .image {
                    width: calc(200px / 2);
                    height: calc(200px / 2);
                    padding: 20px;
                }

                & h2 {
                    font-size: 20px;
                }
            }
        }
    }

    .footer {
        padding: 70px 20px;

        & .row {
            grid-template-columns: auto 170px;

            & .col {
                & form {
                    height: 60px;
                }
            }
        }

        & .copyRight {
            & ul {
                gap: 16px;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 600px) {
    .header {
        & .inner {
            & .userActions {
                gap: 10px;

                & .search {
                    & i {
                        width: 30px;
                        height: 30px;
                        font-size: 12px;
                    }

                    & .searchBar {
                        height: 30px;

                        &.show {
                            margin-inline-end: 10px;
                        }
                    }
                }

                & .link {
                    font-size: 8px;
                    padding: 5px 10px;
                    border-radius: 3px;
                }
            }
        }
    }

    .home-section {
        & .inner-text {
            gap: 20px;
            width: 80%;
            top: 100px;

            & h2 {
                font-size: 16px;
            }

            & p {
                font-size: 12px;
            }

            & .action {
                & .link {
                    font-size: 12px;
                }
            }
        }

        & .home-preview {
            transform: translateY(-10px);
        }
    }

    .about-us-section {
        & .inner-text {
            gap: 15px;

            & h2 {
                font-size: 24px;
            }

            & p {
                font-size: 20px;
            }

            & .action {
                margin-top: 20px;

                & .link {
                    font-size: 16px;
                    padding: 5px 10px;
                }
            }
        }
    }

    .head {
        padding: 30px 20px 20px;

        & h2 {
            font-size: 24px;
        }
    }

    .slider-section {
        & .message-section {
            padding: 20px;
            margin: 20px;
            font-size: 16px;
            border-radius: 7px;
        }
    }

    ::placeholder {
        font-size: 14px;
        padding-inline: 5px;
    }

    .common-questions-page {
        & .previews-section.common-questions {
            padding-bottom: 50px;

            & .inner {
                height: 700px;
            }
        }

        & .questions-section {
            gap: 20px;
            padding: 20px;

            & .head {
                & h2 {
                    font-size: 16px;
                }
            }

            & .questions {
                & ul {
                    gap: 20px;

                    & .head-question {
                        margin-bottom: 10px;

                        & h2 {
                            font-size: 12px;
                        }

                        & i {
                            width: 25px;
                            height: 25px;
                            font-size: 12px;
                        }
                    }

                    & li {
                        & ul {
                            font-size: 10px;
                            padding-inline-start: 45px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        & .row {
            grid-template-columns: auto;

            & .col {
                gap: 20px;

                & ul {
                    gap: 10px;
                }
            }

            & .col:nth-child(4) {
                order: 1;
            }
        }

        & .copyRight {
            & ul {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 500px) {
    .header {
        & .inner {
            height: 50px;

            & .links {
                width: 100%;
                align-items: start;
                padding: 0 15px 15px;
                padding-top: 150px;

                &.active {
                    transform: translate(-50%, -150px);
                }

                & li,
                & a,
                & span {
                    width: 120px;
                    text-align: start;
                    justify-content: start;
                }

                & .parentLink {
                    & .nestedList {

                        & li,
                        & a,
                        & span {
                            width: 100%;
                        }
                    }
                }

                & .parentLink,
                & .nestedParentLink {
                    & .nestedList {
                        &.show {
                            right: 110px;
                        }
                    }
                }

                & .userActions {
                    gap: 20px;

                    & .link {
                        font-size: 12px;
                        padding: 5px 10px;
                        border-radius: 5px;
                    }
                }
            }

            & .logo,
            & .userActions {
                z-index: 999;
            }
        }
    }

    .home-section {
        & .inner-text {
            & h2 {
                font-size: 10px;
            }

            & p {
                font-size: 8px;
            }

            & .action {
                & .link {
                    font-size: 10px;
                }
            }
        }
    }

    .about-us-section {
        & .inner-text {
            gap: 10px;

            & h2 {
                font-size: 16px;
            }

            & p {
                font-size: 14px;
            }

            & .action {
                margin-top: 10px;

                & .link {
                    font-size: 14px;
                }
            }
        }
    }

    .counter-section {
        & .count {
            width: 150px;
            height: 160px;

            & span {
                font-size: 20px;
            }

            & p {
                font-size: 16px;
            }
        }
    }

    .head {
        & h2 {
            font-size: 18px;
        }

        & a {
            font-size: 16px;
        }
    }

    .introduce-section {
        padding-inline: 20px;

        & .image {
            width: 100%;
        }

        & .text {
            & p {
                font-size: 16px;
            }
        }
    }

    .slider-section {
        & .card-wrapper {
            margin: 0 15px 35px;

            & .swiper-wrapper {
                & .slide {
                    & .text {

                        & h2 {
                            font-size: 14px;
                        }

                        & p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        &.client-reviews-section {
            & .card-wrapper {
                & .swiper-wrapper {
                    & .slide {
                        padding: 20px;

                        & .text {
                            & h2 {
                                font-size: 20px;
                            }

                            & p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        font-size: 30px;
    }

    .common-questions-page {
        & .questions-section {
            & .questions {
                & ul {
                    gap: 10px;

                    & .head-question {
                        gap: 10px;
                        margin-bottom: 5px;

                        & h2 {
                            font-size: 8px;
                        }

                        & i {
                            width: 15px;
                            height: 15px;
                            font-size: 8px;
                        }
                    }

                    & li {
                        & ul {
                            font-size: 6px;
                            padding-inline-start: 25px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        & .copyRight {
            & ul {
                font-size: 10px;

                &:first-of-type,
                &:nth-of-type(3) {
                    gap: 20px;
                }
            }
        }
    }
}